<html>
  <head>
    <link href="sellers.css" rel="stylesheet" />
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header style="background-color: #fff;">
      <a href="#"><img class="logo"
      src="http://cdn.shopify.com/s/files/1/0715/6883/t/1/assets/Palette_Logo.png"
      /></a>
      <a href="/signout" class="logout">Log Out</a>
    </header>
    <div class="content">
      <div class="content-inner">
        <form action="/upload" method="post"  enctype="multipart/form-data">
          <div class="field">
            <span>Name</span><br/>
            <input type="text" placeholder="Artwork Title"
            name="product[title]" class="form-control" required / >
          </div>
          
          <div class="field">
            <span>Description</span><br/>
            <textarea placeholder="Artwork Description"
            name="product[description]" class="form-control" required></textarea>
          </div>
        
          <div class="field">
            <span>Category</span><br/>
            <select type="text" placeholder="product_type"
                    name="product[product_type]" class="form-control" required>
              <option value="Drawing">Drawing</option>
              <option value="Painting">Painting</option>
              <option value="Photography">Photography</option>
              <option value="Sculpture">Sculpture</option>
              <option value="Film">Film</option>
            </select>
          </div>
          <div class="field">
            <span>Price</span><br/>
            <input type="number" placeholder="Price"
            name="product[price]" class="form-control" required></input>
          </div>


          <div class="field">
            <span>Upload a main image of your art</span><br/>
            <input type="file" name="product[images][]" 
            accept="image/*" class="form-control"  />
          </div>
          <div class="field">
            Upload more images of your art
            <input type="file" name="product[images][]"
            accept="image/*" class="form-control"  />
            <input type="file" name="product[images][]"
            accept="image/*"  class="form-control"  />
            <input type="file" name="product[images][]"
            accept="image/*"  class="form-control" />
          </div>
        
          <div class="field">
            <input type="submit" class="btn btn-success" />
          </div>
        </form>
      </div>
    </div>
</body>
</html>
