header {
    background-color: #fff;

}

.logo {
    margin-top: 1%;
    margin-left: 1%;
}

.field {
    margin-top: 20px;
    margin-bottom: 20px;
}

.content {
    background-image: url('http://cdn.shopify.com/s/files/1/0715/6883/t/1/assets/art1.jpg');
    height: 100%;
    padding-top: 0px;
}

.content-inner {
    padding: 20px 20px 20px 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: .85;
    background-color: #fff;
}

body {
    margin: 0 0 0 0;
}